:root {
  --dark: #1c1c1c;
  --white: white;
  --link: #446df6;
  --radius: .25rem;
  --yellow: #ffd500;
  --light-gray: #949494;
  --main-gray: #2b2b2b;
  --light-background: #f3f4fa;
  --light-purple: #d1c9f9;
  --light-yellow: #fdefc5;
  --font-family: Ppneuemontreal, sans-serif;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  color: var(--white);
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 100%;
}

h2 {
  color: var(--white);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 130%;
}

h3 {
  color: var(--white);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 130%;
}

h4 {
  color: var(--white);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

h6 {
  color: #999;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Standard Book Webfont;
  font-size: .875rem;
  font-weight: 400;
  line-height: 150%;
}

p {
  color: var(--white);
  text-align: left;
  letter-spacing: .01em;
  margin-bottom: 0;
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}

a {
  color: var(--link);
  padding: 0;
  text-decoration: none;
}

ol {
  margin-bottom: 0;
  padding-left: 2.5rem;
}

li {
  color: var(--white);
  font-family: Ppneuemontreal Book, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}

img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
}

strong {
  font-family: Ppneuemontreal, sans-serif;
  font-weight: 500;
}

.nav-buttons-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 24px;
  display: flex;
}

.image-wrapper {
  background-color: #0000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: none;
  font-family: Standard Book Webfont;
  display: flex;
}

.content_image {
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: none;
  height: auto;
  display: flex;
}

.description_layout {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template: ". . . Area"
  / 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: 4rem;
  display: grid;
}

.u-description {
  color: var(--white);
  letter-spacing: .01em;
  font-size: .75rem;
  line-height: 140%;
}

.frame {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: stretch;
  width: 100%;
  max-width: none;
  margin-bottom: 24px;
  display: flex;
}

.u-theme-dark {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  background-color: var(--dark);
  border: 1px #000;
  flex-direction: column;
  align-items: center;
  max-width: none;
  display: block;
}

.u-theme-dark.nav {
  z-index: 99999;
  position: sticky;
  top: 0;
}

.interview-card {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  background-color: #f0f0f0;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 24px;
  display: flex;
}

.footer_social_link {
  outline-offset: 0px;
  color: var(--white);
  outline: 3px #e148c0;
  font-size: .875rem;
  display: inline;
}

.footer_social_link:hover {
  color: var(--white);
  text-align: left;
  text-decoration: underline;
}

.footer_social_link:active {
  color: var(--white);
  text-decoration: underline;
}

.footer_social_link.w--current {
  color: var(--white);
}

.project_image {
  aspect-ratio: 59.4 / 39.6;
}

.project_image.u-image {
  border-radius: var(--radius);
}

.u-link {
  color: var(--white);
  -webkit-text-stroke-color: #000;
  text-decoration: underline;
}

.u-link:hover {
  color: var(--white);
  text-decoration: underline;
}

.u-link:active {
  text-decoration: underline;
}

.u-link.highlight {
  color: var(--yellow);
  text-decoration: none;
}

.u-link.highlight:hover {
  text-decoration: underline;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.page-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
}

._404-details {
  max-width: 320px;
}

.button {
  border: 1px solid var(--white);
  color: var(--white);
  background-color: #0000;
  padding: .5rem 1.75rem;
  font-size: 1rem;
  line-height: 130%;
}

.button:hover {
  background-color: var(--white);
  color: var(--dark);
  text-decoration: none;
}

.button:active {
  text-decoration: none;
}

.frosted-glass-copy {
  align-self: center;
}

.field-label {
  font-family: Standard Book Webfont;
  font-weight: 400;
}

.list {
  margin-bottom: auto;
}

.playground_layout {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 6rem;
  display: grid;
}

.content-block {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  display: flex;
}

.hero_image {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.line {
  background-color: var(--light-gray);
  border-radius: 4px;
  height: .063rem;
  margin-bottom: 1rem;
}

.u-2-column_layout {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-content: stretch space-between;
  align-items: flex-start;
  display: grid;
}

.image_description {
  color: var(--light-gray);
  text-align: center;
  font-size: .75rem;
  line-height: 130%;
}

.card-text {
  color: var(--main-gray);
  font-size: .75rem;
}

.u-column-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  max-width: 100%;
  display: flex;
}

.u-column-content.right {
  text-align: right;
}

.u-column-content.middle {
  align-items: center;
}

.right {
  text-align: right;
}

.u-container {
  max-width: 90rem;
  padding: 6rem 2.5rem;
  position: relative;
}

.hero_section {
  position: relative;
}

.hero_section.u-theme-dark {
  background-color: var(--dark);
}

.hero_container.u-container {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  display: flex;
}

.hero_heading.u-heading {
  max-width: 19em;
}

.hero_paragraph {
  max-width: 22em;
}

.hero_paragraph.u-paragraph {
  max-width: 32em;
}

.project-container.u-container {
  color: var(--white);
}

.product_layout {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: end;
  margin-bottom: 6rem;
  display: grid;
}

.product_layout._1-5-1 {
  grid-template-columns: 1.5fr 1fr;
}

.content_heading.u-heading {
  max-width: 16em;
}

.project_heading.u-heading {
  margin-bottom: 3rem;
}

.project_content {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: .5rem;
  display: flex;
  position: relative;
}

.project_content.u-theme-dark {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
}

.footer_container.u-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer_layout {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_social_layout {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  flex-flow: wrap;
  align-items: center;
  display: flex;
}

.playground-container.u-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.overview_container.u-container {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  min-height: 80vh;
  display: flex;
}

.overview_paragraph.u-paragraph, .content_paragraph.u-paragraph {
  max-width: 40em;
}

.content_container.u-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.interview_layout {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.playground_description.u-description {
  text-align: center;
}

.nav_container.u-container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.nav_layout {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.project_card {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  display: flex;
}

.project_card.blank {
  padding-top: 5rem;
}

.project_card.middle {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.project_description {
  font-size: 1rem;
}

.nav_link {
  color: var(--white);
  font-size: 1rem;
}

.nav_link:hover {
  text-decoration: underline;
}

.nav_link.name:hover {
  text-decoration: none;
}

.nav_link.name.w--current {
  font-family: Ppneuemontreal, sans-serif;
}

.nav_link.name.w--current:hover {
  text-decoration: none;
}

.about_image {
  aspect-ratio: 1;
}

.u-list {
  max-width: 70%;
}

.u-list_item {
  margin-bottom: 1rem;
}

.other_container.u-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer_text {
  font-size: 1rem;
}

._0-75-1.u-2-column_layout {
  grid-template-columns: .75fr 1fr;
  display: grid;
}

.u-card {
  background-color: var(--light-background);
  border-radius: .25rem;
  padding: 1rem;
}

.u-image {
  border-radius: var(--radius);
}

.skills_layout {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.division_container.u-container {
  padding-top: 0;
  padding-bottom: 0;
}

.playground_content {
  padding: .25rem;
}

.youtube_card {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.hightlight_paragraph {
  color: var(--light-purple);
}

.hightlight_paragraph.u-paragraph {
  color: var(--light-purple);
  -webkit-text-stroke-color: var(--light-purple);
}

.highlight_link.u-link {
  background-color: var(--light-yellow);
  color: var(--dark);
}

.topic_description {
  color: var(--light-gray);
}

.content_card {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  display: flex;
}

@media screen and (min-width: 1440px) {
  body {
    font-family: Ppneuemontreal Book, sans-serif;
  }

  h2 {
    color: var(--white);
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 150%;
  }

  p {
    text-align: left;
    margin-bottom: 0;
    font-size: .9375rem;
    line-height: 150%;
  }

  li {
    color: #000;
    text-align: left;
    padding-bottom: .25rem;
    font-size: 1rem;
  }

  strong {
    font-family: Standard Webfont;
  }

  .image-wrapper {
    background-color: #0000;
    max-width: none;
  }

  .content_image {
    object-fit: contain;
    align-items: stretch;
    height: auto;
  }

  .description_layout {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    align-items: flex-start;
  }

  .u-description {
    font-size: 1rem;
  }

  .frame {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    max-width: none;
  }

  .u-theme-dark {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    border: 1px #000;
    flex-direction: column;
    align-items: center;
    max-width: none;
    display: block;
  }

  .interview-card {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    background-color: #f0f0f0;
    border-radius: 0;
    align-items: flex-end;
  }

  .footer_social_link, .footer_social_link.w--current {
    font-size: 1rem;
  }

  .project_image {
    width: 891px;
  }

  .utility-page-wrap {
    color: #000;
    text-align: left;
    background-color: #fff;
    font-family: Standard Book Webfont;
    font-size: 1rem;
    line-height: 130%;
  }

  .utility-page-content {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    align-items: center;
    width: auto;
  }

  .page-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    align-items: flex-start;
    display: flex;
  }

  ._404-details {
    max-width: 320px;
  }

  .button {
    color: #446df6;
    background-color: #fff;
    font-size: 1rem;
  }

  .button:hover, .button:active {
    text-decoration: underline;
  }

  .button.w--current {
    color: #446df6;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
  }

  .button.w--current:hover {
    background-color: #fff;
  }

  .frosted-glass-copy {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #ffffff26;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    display: flex;
  }

  .project_description.u-description, .footer_text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: .875rem;
  }

  .nav-buttons-wrapper {
    max-width: unset;
  }

  .u-description {
    line-height: 140%;
  }

  .frame {
    max-width: none;
  }

  .footer_social_link {
    font-size: .75rem;
  }

  .button {
    font-size: .875rem;
  }

  .u-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .overview_heading.u-heading {
    font-size: 1.25rem;
  }

  .u-list_item {
    font-size: .875rem;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }

  .nav-buttons-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .description_layout {
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ".";
  }

  .frame {
    width: 100%;
  }

  .list {
    margin-bottom: auto;
  }

  .playground_layout {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero_heading.u-heading {
    font-size: 2.25rem;
  }

  .project_heading.u-heading {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .project_content.u-theme-dark {
    padding: .375rem;
  }

  .playground_description.u-description {
    font-size: .75rem;
  }

  .project_card.blank {
    padding-top: 4rem;
  }

  .project_card.middle {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .project_description {
    font-size: .875rem;
  }

  .u-list {
    max-width: 80%;
  }

  .youtube_card {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: .75rem;
  }

  ol {
    margin-bottom: 1rem;
  }

  li {
    padding-bottom: .25rem;
    font-size: .75rem;
    line-height: 155%;
  }

  .description_layout {
    grid-template-columns: 1fr 1fr;
  }

  .u-theme-dark {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }

  .page-content {
    align-self: flex-start;
    align-items: flex-start;
  }

  ._404-details {
    max-width: 240px;
  }

  .playground_layout {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .u-2-column_layout {
    grid-template-columns: 1fr;
  }

  .u-2-column_layout.footer {
    grid-template-columns: 1fr 1fr;
  }

  .u-container {
    padding: 3rem 1rem;
  }

  .hero_heading.u-heading {
    font-size: 2rem;
  }

  .product_layout {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .project_heading.u-heading {
    font-size: 1.5rem;
  }

  .footer_layout {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    flex-flow: column;
  }

  .interview_layout {
    flex-flow: column;
  }

  .playground_description.u-description {
    line-height: 130%;
  }

  .project_card.blank {
    padding-top: 3rem;
  }

  .project_card.middle {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .project_description {
    font-size: .75rem;
    line-height: 130%;
  }

  .nav_link {
    font-size: .875rem;
  }

  .nav_link.hide {
    display: none;
  }

  .u-list_item {
    font-size: .75rem;
  }

  .footer_text {
    font-size: .875rem;
  }

  ._0-75-1.u-2-column_layout {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .skills_layout {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .youtube_card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#w-node-_9e2555f1-2520-a5b2-2ca2-42dd52b143e1-012a40ae, #w-node-_2dc67e43-676b-2b4c-eecb-355c948e5892-012a40ae {
  align-self: end;
}

#w-node-_27676972-40b1-1b4b-8daa-a7f7683e630f-012a40ae, #w-node-b7ce7dca-2056-f215-604c-cf2041326c23-012a40ae, #w-node-e40278ab-7689-432d-f982-cb93b11f4ffc-012a40ae, #w-node-e40278ab-7689-432d-f982-cb93b11f5001-012a40ae, #w-node-e40278ab-7689-432d-f982-cb93b11f5006-012a40ae {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-b7ce7dca-2056-f215-604c-cf2041326c23-012a40ae, #w-node-e40278ab-7689-432d-f982-cb93b11f5006-012a40ae {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Ppneuemontreal Book';
  src: url('../fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-SemiBolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}